TotalMathDemo/Connected Services/ServiceReference1/Math1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TotalMathLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TotalMathLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathData">
    <xs:sequence>
      <xs:element minOccurs="0" name="resAdd" type="xs:int" />
      <xs:element minOccurs="0" name="resDiv" type="xs:int" />
      <xs:element minOccurs="0" name="resMult" type="xs:int" />
      <xs:element minOccurs="0" name="resSub" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathData" nillable="true" type="tns:MathData" />
</xs:schema>